<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>🎰 Python Rush Bonanza 🎰</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/home.css" rel="stylesheet" />
    <link href="/images/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div id="alert" class="alert"></div>

    <header>🎰🏝️ Welcome to Python Rush Bonanza 🏝️🎰</header>
    <header class="subheader">Legends Edition</header>
    <div class="button-container">
      <button onclick="showForm('signin')">Signin</button>
      <button onclick="showForm('signup')">Signup</button>
    </div>
    <div id="form-container" class="form-container">
      <input type="text" id="username" placeholder="Username" required />
      <input type="password" id="password" placeholder="Password" required />
      <button onclick="submitForm()">Confirm</button>
    </div>

    <footer>
      Disclaimer: This is not a real casino game and it serves to educational
      purposes only.
    </footer>

    <script src="/js/home.js" async defer></script>
  </body>
</html>
