<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>🎰 Python Rush Bonanza 🎰</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/in_game.css" />
    <link href="/images/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div id="alert" class="alert"></div>
    <div class="navbar">
      <div class="left-section">
        <button id="menuButton" onclick="backToMenu()">Menu</button>
        <button id="muteButton" onclick="toggleMute()">🔇</button>
        <div>
          <label for="betValue">Bet Value: </label>
          <input
            type="range"
            id="betValue"
            min="0"
            max="100"
            step="5"
            value="5"
            onchange="updateBetValue()"
          />
          <span id="betValueDisplay">5</span>
        </div>
        <div>
          <label for="autoPlays">Auto Plays: </label>
          <input
            type="range"
            id="autoPlays"
            min="0"
            max="100"
            step="10"
            value="10"
            onchange="updateAutoPlays()"
          />
          <span id="autoPlaysDisplay">10</span>
        </div>
      </div>
      <div class="right-section">
        <div>Welcome {{ player.name }}</div>
        <div>Wallet Balance: <span id="walletBalance">{{ wallet }}</span></div>
        <div>Current Bet: <span id="currentBet">$5</span></div>
      </div>
    </div>
    <div class="main-container">
      <div class="game-table" id="gameTable"></div>
      <div class="button-container">
        <div class="floating-bonus">
          Get 3 or more
          <img src="../images/baiano.webp" width="40px" height="40px" />
          To win free spins
        </div>
        <div class="floating-win"></div>
        <div class="floating-prize"></div>
        <button class="floating-play-button" onclick="play()">
          <div class="play-text">Play</div>
          <div class="cycling-arrows">🔄</div>
          <span id="autoPlaysCount"></span>
        </button>
      </div>
    </div>
    <div class="footer">
      <img src="/images/slider.png" alt="Footer Image" class="footer-image" />
    </div>
    <audio id="backgroundMusic" loop>
      <source src="/assets/legends-no-copyright.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <audio id="rollingSound">
      <source
        src="/assets/mixkit-slot-machine-win-alert-1931.wav"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <audio id="winSound">
      <source src="/assets/mixkit-coins-handling-1939.wav" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <audio id="prizeSound">
      <source src="/assets/mixkit-clinking-coins-1993.wav" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <audio id="noWinSound">
      <source
        src="/assets/mixkit-thin-metal-card-deck-shuffle-3175.wav"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <audio id="bonusRoundsSound">
      <source
        src="/assets/mixkit-magical-coin-win-1936.wav"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <audio id="endGameSound">
      <source
        src="/assets/mixkit-casino-bling-achievement-2067.wav"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <audio id="tumblingSound">
      <source src="/assets/mixkit-cards-deck-hits-1994.wav" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <audio id="explosionSound">
      <source
        src="/assets/mixkit-arcade-game-explosion-1699.wav"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <audio id="scatterSound">
      <source
        src="/assets/mixkit-axe-hits-to-a-plate-2774.wav"
        type="audio/mpeg"
      />
      Your browser does not support the audio element.
    </audio>
    <span class="footer-info">
      <div>
        Music By:
        <a href="https://www.youtube.com/watch?v=0svv-bSDeBI"
          >https://www.youtube.com/watch?v=0svv-bSDeBI</a
        >
      </div>
      <div>
        Images & Assets by:
        <a href="https://www.baiano.tv/multi/">Ilha das Lendas</a>
      </div>
      <div>
        An Open Source Project by:
        <a href="https://github.com/Thrashattack/python-rush-bonanza/"
          >Thrashattack</a
        >
      </div>
    </span>
    <script src="/js/in_game.js" async defer></script>
  </body>
</html>
